<section>
  <div class="page-header">
    <h1>Editing ' {{ vm.user.displayName }} '</h1>
  </div>
  <form name="form" ng-submit="vm.submitForm()">
    <fieldset>
      <!-- Label -->
      <div class="form-group has-feedback" ng-class="{ 'has-error': form.roles.$invalid, 'has-success': form.roles.$valid }">
        <label>Roles</label>
        <p ng-repeat="role in vm.selectedRoles" class="" style="margin-left: 5px" >{{ role }}</p>
        <multiselect required show-search="true" placeholder="Choose Roles" id="roles" name="roles" search-limit="vm.roles.length" ng-model="vm.selectedRoles" options="vm.allRoleNames"></multiselect>
        <span class="glyphicon form-control-feedback"
          ng-class="{ 'glyphicon-remove': form.roles.$invalid, 'glyphicon-ok': form.roles.$valid }">
        </span>
      </div>
      <div>
        <legend>Permissions</legend>
        <div ng-repeat="permission in vm.user.permissions track by $index" class="panel panel-default">
          <div class="panel-heading clearfix">
            <h6 class="panel-title pull-left" style="padding-top: 7.5px;">Permission {{ $index + 1 }}:
            </h6>
            <div class="btn-group pull-right">
              <button id="remove-permission[{{$index}}]" ng-click="vm.removePermission($index)" type="button"
                class="btn btn-sm form-button"><i class="glyphicon glyphicon-remove"></i> Remove Permission</button>
            </div>
          </div>
          <div class="panel-body">
            <!-- Special Permissions -->
            <div class="form-group has-feedback"
              ng-class="{ 'has-error': form['permissions{{$index}}-resources'].$invalid, 'has-success': form['permissions{{$index}}-resources'].$valid }">
              <label>Path : <strong> " {{ permission.resources }} " </strong></label>
              <input class="form-control" name="permissions{{$index}}-resources" type="text" placeholder="e.g: /users"
                ng-model="vm.user.permissions[$index].resources" ng-maxlength="60" ng-minlength="2" ng-model-options="{updateOn: 'blur'}" required>
              <span class="glyphicon form-control-feedback" ng-class="{ 'glyphicon-remove': form['permissions{{$index}}-resources'].$invalid, 'glyphicon-ok': form['permissions{{$index}}-resources'].$valid }"></span>
              <span class="help-block" ng-messages="form['permissions'+$index+'-resources'].$error">
                <p ng-message="required">This field is required</p>
                <p ng-message="maxlength">This must be at most of length 60</p>
                <p ng-message="minlength">This must be at least of length 2</p>
              </span>
            </div>
            <div class="form-group has-feedback">
              <label name="all-resource-methods-label">Actions (for all resources) :</label>
              <div class="form-group">
                <label ng-repeat="methodName in allResourceMethods" class="checkbox-inline">
                  <input type="checkbox" name="all-resource-selected-methods" id="permissions{{$parent.$index}}-all-resource-{{methodName}}"
                    value="{{methodName}}"
                    ng-checked="vm.user.permissions[$parent.$index].allResourceMethods.indexOf(methodName) > -1"
                    ng-click="optionSelected(methodName, 'allResourceMethods', $parent.$index)">
                  {{methodName.replace('-', ' ')}}
                </label>
              </div>
            </div>
            <div class="form-group has-feedback">
              <label name="user-created-resource-methods-label">Actions (for resources created by user) :</label>
              <div class="form-group">
                <label ng-repeat="methodName in userCreatedResourceMethods" class="checkbox-inline">
                  <input type="checkbox" name="user-created-resource-selected-methods"
                    id="permissions{{$parent.$index}}-user-created-resource-{{methodName}}" value="{{methodName}}"
                    ng-checked="vm.user.permissions[$parent.$index].userCreatedResourceMethods.indexOf(methodName) > -1"
                    ng-click="optionSelected(methodName, 'userCreatedResourceMethods', $parent.$index)">
                  {{methodName}}
                </label>
              </div>
            </div>
          </div>
        </div>
        <div>
          <button id="add-permission" ng-click="vm.addPermission()" type="button" class="btn btn-default pull-right">
            <i class="glyphicon glyphicon-plus"></i>
            Add Permission
          </button>
        </div>
      </div>
    </fieldset>
    <div class="btn-group pull-left"
      title="{{form.$invalid || vm.formSubmitting ? 'Ensure all values are valid and required fields are filled in.' : ''}}">
      <button class="btn btn-primary" type="submit" ng-disabled="form.$invalid || vm.formSubmitting">Save</button>
    </div>
  </form>
</section>