<section>
  <div class="page-header">
    <div class="btn-toolbar pull-right">
      <div class="btn-group" ng-if="vm.hasEditPermissions">
        <a class="btn btn-sm btn-primary" ui-sref="labels.edit({labelId: vm.label._id})">Edit</a>
      </div>
      <div class="btn-group">
        <a class="btn btn-sm btn-warning" id="view-log"
          ui-sref="logs.view({ objType: 'labels', objId: vm.label._id })">View Log</a>
      </div>
    </div>
    <h1>Viewing Label '{{ vm.label.name }}'</h1>
  </div>
  <form>
    <fieldset disabled>
      <div class="row row-relative">
        <!-- PROGRAM DETAILS -->
        <div class="col-md-6">
          <div class="form-group">
            <label>Name</label>
            <p class="form-control-static">{{ vm.label.name }}</p>
          </div>
        </div>
        <!-- ASSOCIATION DETAILS -->
        <div class="col-md-6 col-border">
          <div class="col-border-padding">
            <div class="form-group">
              <label>Dependant Deployments</label>
              <p ng-if="!vm.dependentDeployments.length">None</p>
              <div class="dependent-items">
                <p ng-repeat="dependentDeployment in vm.dependentDeployments">
                  <a
                    name="dependent-deployment" ui-sref="deployments.view({deploymentId: dependentDeployment._id})">{{ dependentDeployment.name }}</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</section>
