<section>
  <div class="page-header">
    <h1>{{ vm.pageTitle }} Deployment '{{ vm.deployment.name }}'</h1>
  </div>
  <form name="form" ng-submit="vm.submitForm()">
    <fieldset>
      <div class="row row-relative">
        <!-- DEPLOYMENT DETAILS -->
        <div>
          <!-- Deployment Name -->
          <div class="form-group has-feedback"
            ng-class="{ 'has-error': form.name.$invalid, 'has-success': form.name.$valid }">
            <label>Name</label>
            <input class="form-control" id="name" name="name" type="text" placeholder="Name" ng-model="vm.deployment.name"
              ng-minlength="2" ng-maxlength="50" ng-pattern="/^[a-zA-Z0-9\-_.]*$/" required autofocus>
            <span class="glyphicon form-control-feedback"
              ng-class="{ 'glyphicon-remove': form.name.$invalid, 'glyphicon-ok': form.name.$valid }"></span>
            <span class="help-block" ng-if="vm.deployment.name.startsWith('A_Health_')">
              <p><b>Warning:</b> Deployments with names beginning in 'A_Health_' are reserved for Health-Check Testing:
                They have no logs stored and are automatically removed during DTT upgrades.</p>
            </span>
            <span class="help-block" ng-messages="form.name.$error">
              <p ng-message="required">This field is required</p>
              <p ng-message="minlength">This must be at least of length 2</p>
              <p ng-message="maxlength">This must be at most of length 50</p>
              <p ng-message="pattern">This must only contain letters, numbers, dots, dashes and underscores</p>
            </span>
          </div>
          <!-- Program -->
          <div class="form-group has-feedback"
            ng-class="{ 'has-error': form['program-select'].$invalid, 'has-success': form['program-select'].$valid }">
            <label>Program</label>
            <select class="form-control" name="program-select" id="program-select" ng-model="vm.deployment.program_id"
              ng-options="program._id as program.name for program in vm.allPrograms"
              required>
              <option value="" disabled selected>--Select Program--</option>
            </select>
            <span class="glyphicon form-control-feedback"
              ng-class="{ 'glyphicon-remove': form['program-select'].$invalid, 'glyphicon-ok': form['program-select'].$valid }"></span>
            <span class="help-block" ng-messages="form['program-select'].$error">
              <p ng-message="required">This field is required</p>
            </span>
          </div>
          <!-- Label -->
          <div class="form-group">
            <label>Labels <i class="ebIcon ebIcon_info" title="Use labels to classify a deployment."></i></label>
            <p ng-repeat="label in vm.selectedLabels" class="label label-primary" style="margin-left: 5px" >{{ label }}</p>
            <multiselect show-search="true" placeholder="Choose Labels" id="labels" name="labels" search-limit="vm.allLabels.length" ng-model="vm.selectedLabels" options="vm.allLabelNames"></multiselect>
          </div>
          <div class="form-group has-feedback"
            ng-class="{ 'has-error': form.newLabels.$invalid, 'has-success': form.newLabels.$valid }">
            <label>New Labels</label>
            <input class="form-control" type="text" id="newLabels" name="newLabels" placeholder="Enter New Labels in an Uppercase Comma-Delimited List format" ng-model="vm.deployment.newLabels" ng-pattern="/^([A-Z0-9\-_.]{2,50})(,\s*[A-Z0-9\-_.]{2,50})*$/">
            <span class="glyphicon form-control-feedback"
              ng-class="{ 'glyphicon-remove': form.newLabels.$invalid, 'glyphicon-ok': form.newLabels.$valid }"></span>
            <span class="help-block" ng-messages="form.newLabels.$error">
              <p ng-message="pattern">This must be a comma separated list of label names that may only contain uppercase letters, numbers, dots, dashes and underscores. Each label must also be 2-50 characted long.</p>
            </span>
          </div>
          <!-- Area -->
          <div class="form-group has-feedback"
            ng-class="{ 'has-error': form['area-select'].$invalid, 'has-success': form['area-select'].$valid }">
            <label>Requirement Area
              <i class="ebIcon ebIcon_info"
                title="Select a Program to populate the dropdown with associated Requirement Area(s).&#10;If no Requirement Areas appear, ensure that the appropriate Requirement Areas have been associated with their Program.">
              </i>
            </label>
            <select class="form-control" name="area-select" id="area-select" ng-model="vm.deployment.area_id"
              ng-options="area._id as area.name for area in vm.areas" required>
              <option value="" disabled selected>--Select Area--</option>
            </select>
            <span class="glyphicon form-control-feedback"
              ng-class="{ 'glyphicon-remove': form['area-select'].$invalid, 'glyphicon-ok': form['area-select'].$valid }"></span>
            <span class="help-block" ng-messages="form['area-select'].$error">
              <p ng-message="required">This field is required</p>
            </span>
          </div>
          <!-- Deployment Status -->
          <div class="form-group has-feedback"
            ng-class="{ 'has-error': form['status-select'].$invalid, 'has-success': form['status-select'].$valid }">
            <label name="status-label">Status {{ (vm.deployment.status === 'Booking Disabled' || vm.deployment.status === 'In Review' || vm.deployment.status === 'Blocked/In Maintenance') ? '- NOTE: Deployment will be unbookable &#119;ith current status.' : '' }}</label>
            <select class="form-control" name="status-select" id="status-select" ng-model="vm.deployment.status"
              ng-options="status for status in vm.deploymentStatusTypes" required>
              <option value="" disabled selected>--Select Status--</option>
            </select>
            <span class="glyphicon form-control-feedback"
              ng-class="{ 'glyphicon-remove': form['status-select'].$invalid, 'glyphicon-ok': form['status-select'].$valid }"></span>
            <span class="help-block" ng-messages="form['status-select'].$error">
              <p ng-message="required">This field is required</p>
            </span>
          </div>
          <!-- Deployment Cross RA Sharing -->
          <div class="form-group">
          <label>Cross RA Sharing <i class="ebIcon ebIcon_info" title="Set whether other teams can be assigned to a booking for this Deployment"></i></label>
          <br>
          <toggle name="crossRASharing" width="130px" ng-model="vm.deployment.crossRASharing"
            on="<i class='fa fa-users'></i> Enabled" off="<i class='fa fa-user'></i> Disabled"
            ng-disabled="!vm.userIsAdmin">
          </toggle>
          </div>
          <!-- Team -->
          <div class="form-group">
            <label>
              Team
              <i class="ebIcon ebIcon_info"
                title="Select an Area to populate the dropdown with associated Team(s).&#10;If no Teams appear, ensure that the appropriate Teams have been associated with their Area through the Team-Edit view.">
              </i>
            </label>
            <select class="form-control" name="team-select" id="team-select" ng-model="vm.deployment.team_id"
              ng-options="team._id as team.name for team in vm.teams">
              <option value="" disabled selected>--Select Team--</option>
            </select>
          </div>
          <!-- SPOC -->
          <div class="form-group">
            <label>SPOC(s)</label>
            <multiselect show-search="true" placeholder="--Select SPOC User(s)--" id="spoc_users" name="spoc_users" search-limit="vm.allUsers.length" ng-model="vm.selectedSpocUsers" options="vm.allSpocUserNames"></multiselect>
          </div>
          <!-- Deployment Purpose -->
          <div class="form-group">
            <label>Purpose</label>
            <textarea class="form-control" name="purpose" type="text"
              placeholder="Provide information on the purpose of this deployment"
              ng-model="vm.deployment.purpose"></textarea>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>JIRA Issues</legend>
      <div ng-repeat="jiraIssue in vm.deployment.jira_issues track by $index" class="panel panel-default">
        <div class="panel-heading clearfix">
          <h6 class="panel-title pull-left" style="padding-top: 7.5px;">JIRA Issue {{ $index + 1 }}:
            <strong>{{ jiraIssue }}</strong></h6>
          <div class="btn-group pull-right">
            <button id="remove-jira[{{$index}}]" ng-click="vm.removeJiraIssue($index)" type="button"
              class="btn btn-sm form-button"><i class="glyphicon glyphicon-remove"></i> Remove JIRA Issue</button>
          </div>
        </div>
        <div class="panel-body">
          <!-- JIRA Issue -->
          <div class="form-group has-feedback"
            ng-class="{ 'has-error': form['jira_issues[' + $index + ']'].$invalid, 'has-success': form['jira_issues[' + $index + ']'].$valid }">
            <label>Issue</label>
            <input class="form-control" name="jira_issues[{{$index}}]" type="text" placeholder="Issue"
              ng-model="vm.deployment.jira_issues[$index]" ng-minlength="3" ng-maxlength="60"
              ng-pattern="/^[a-zA-Z0-9\-_.\s]*$/" ng-change="vm.jiraIssueValidation($index)"
              ng-model-options="{updateOn: 'blur'}">
            <span class="glyphicon form-control-feedback"
              ng-class="{ 'glyphicon-remove': form['jira_issues[' + $index + ']'].$invalid, 'glyphicon-ok': form['jira_issues[' + $index + ']'].$valid }"></span>
            <span class="help-block" ng-messages="form['jira_issues[' + $index + ']'].$error">
              <p ng-message="minlength">This must be at least of length 3</p>
              <p ng-message="maxlength">This must be at most of length 60</p>
              <p ng-message="pattern">This must only contain letters, numbers, dots, dashes, underscores and spaces</p>
              <p ng-message="jiraValidation">Provide a valid JIRA Issue</p>
              <p ng-message="jiraDuplicate">You cannot add the same JIRA Issue multiple times</p>
            </span>
          </div>
        </div>
      </div>
      <button id="add-jira" ng-click="vm.addJiraIssue()" type="button" class="btn btn-default pull-right"><i
          class="glyphicon glyphicon-plus"></i> Add JIRA Issue</button>
    </fieldset>
    <fieldset>
      <legend>Products</legend>
      <div ng-repeat="product in vm.deployment.products track by $index" class="panel panel-default" id="product_{{$index}}">
        <div class="panel-heading clearfix">
          <h6 class="panel-title pull-left" style="padding-top: 7.5px;">Product {{ $index + 1 }}:
            <strong>{{ product.product_type_name }}</strong>
            {{ product.flavour_name ? '(' + product.flavour_name + ')' : '' }}</h6>
          <div class="btn-group pull-right">
            <button id="remove-product[{{$index}}]" ng-click="vm.removeProduct(product)" type="button"
              class="btn btn-sm form-button" ng-disabled="vm.disabledProducts[{{$index}}]"><i class="glyphicon glyphicon-remove"></i> {{ vm.disabledProducts[$index] ? 'Currently used by Booking' : 'Remove Product' }} </button>
          </div>
        </div>
        <div class="panel-body">
          <!-- Product-Type -->
          <div class="form-group has-feedback"
            ng-class="{ 'has-error': form['products{{$index}}-productType'].$invalid, 'has-success': form['products{{$index}}-productType'].$valid }">
            <label>Product-Type</label>
            <select class="form-control" name="products{{$index}}-productType"
              id="products{{$index}}-productType"
              ng-model="product.product_type_name"
              ng-options="productType.name as productType.name for productType in vm.productTypes"
              ng-disabled="vm.disabledProducts{{$index}}" required>
              <option value="" disabled selected>--Select Product-Type--</option>
            </select>
            <span class="glyphicon form-control-feedback"
              ng-class="{ 'glyphicon-remove': form['products{{$index}}-productType'].$invalid, 'glyphicon-ok': form['products{{$index}}-productType'].$valid }"></span>
            <span class="help-block" ng-messages="form['products' + $index + '-productType'].$error">
              <p ng-message="required">This field is required</p>
            </span>
          </div>

          <!-- Product-Flavour -->
          <div class="form-group has-feedback"
            ng-class="{ 'has-error': form['products{{$index}}-flavour_name'].$invalid, 'has-success': form['products{{$index}}-flavour_name'].$valid }">
            <label>Flavour <i class="ebIcon ebIcon_info"
                title="Select a valid Flavour for the selected Product-Type."></i></label>
            <select class="form-control" name="products{{$index}}-flavour_name"
              id="products{{$index}}-flavour_name"
              ng-model="product.flavour_name"
              ng-options="flavour for flavour in vm.getValidFlavours(product.product_type_name)"
              ng-disabled="vm.disabledProducts{{$index}}" required>
              <option value="" disabled selected>--Select Product-Flavour--</option>
            </select>
            <span class="glyphicon form-control-feedback"
              ng-class="{ 'glyphicon-remove': form['products{{$index}}-flavour_name'].$invalid, 'glyphicon-ok': form['products{{$index}}-flavour_name'].$valid }"></span>
            <span class="help-block" ng-messages="form['products' + $index + '-flavour_name'].$error">
              <p ng-message="required">This field is required</p>
            </span>
          </div>

          <!-- Infrastructure Type -->
          <div class="form-group has-feedback"
            ng-class="{ 'has-error': form['products{{$index}}-infrastructure'].$invalid, 'has-success': form['products{{$index}}-infrastructure'].$valid }">
            <label>Infrastructure-Type</label>
            <select class="form-control" name="products{{$index}}-infrastructure"
              id="products{{$index}}-infrastructure" ng-model="product.infrastructure"
              ng-options="infrastructure for infrastructure in vm.infrastructureTypes"
              ng-disabled="vm.disabledProducts[{{$index}}]" required>
              <option value="" disabled selected>--Select Infrastructure-Type--</option>
            </select>
            <span class="glyphicon form-control-feedback"
              ng-class="{ 'glyphicon-remove': form['products{{$index}}-infrastructure'].$invalid, 'glyphicon-ok': form['products{{$index}}-productType'].$valid }"></span>
            <span class="help-block" ng-messages="form['products' + $index + '-infrastructure'].$error">
              <p ng-message="required">This field is required</p>
            </span>
          </div>

          <!-- Location -->
          <div class="form-group has-feedback"
            ng-class="{ 'has-error': form['products[{{$index}}].location'].$invalid, 'has-success': form['products[{{$index}}].location'].$valid }">
            <label>Location</label>
            <input class="form-control" name="products[{{$index}}].location" type="text" placeholder="Location Name"
              ng-model="product.location" ng-minlength="2" ng-maxlength="50" ng-pattern="/^[a-zA-Z0-9\-_.\s]*$/">
            <span class="glyphicon form-control-feedback"
              ng-class="{ 'glyphicon-remove': form['products[{{$index}}].location'].$invalid, 'glyphicon-ok': form['products[{{$index}}].location'].$valid }"></span>
            <span class="help-block" ng-messages="form['products[' + $index + '].location'].$error">
              <p ng-message="minlength">This must be at least of length 2</p>
              <p ng-message="maxlength">This must be at most of length 50</p>
              <p ng-message="pattern">This must only contain letters, numbers, dots, dashes, underscores and spaces</p>
            </span>
          </div>

          <!-- Product Notes -->
          <label>Product Notes</label>
          <textarea class="form-control" name="products[{{$index}}].purpose" type="text"
            placeholder="Provide any additional information for this product" ng-model="product.purpose"></textarea>
          <br>

          <!-- Product Jenkins Job -->
          <label>Jenkins Job (II/UG) <i class="ebIcon ebIcon_info" title="The URL for the Jenkins Job. That will be used in triggering the II/UG for the Deployment, which is used with the Bookings."></i></label>
          <div class="form-group has-feedback"
            ng-class="{ 'has-error': form['products[{{$index}}].jenkinsJob'].$invalid, 'has-success': form['products[{{$index}}].jenkinsJob'].$valid }">
            <input class="form-control" name="products[{{$index}}].jenkinsJob"
              id="products[{{$index}}].jenkinsJob" type="text"
              placeholder="Enter Jenkins Job URL" ng-model="product.jenkinsJob" ng-pattern="vm.urlregex">
            <span class="glyphicon form-control-feedback"
              ng-class="form['products[{{$index}}].jenkinsJob'].$valid ? 'glyphicon-ok' : 'glyphicon-remove'">
            </span>
            <span class="help-block" ng-messages="form['products[' + $index + '].jenkinsJob'].$error">
              <p ng-message="pattern">Jenkins Job URL must be a valid URL</p>
            </span>
          </div>

          <!-- Hardware -->
          <div class="form-group">
            <label>Hardware <i class="ebIcon ebIcon_info" title="Hold the CTRL/CMD key to select multiple"></i></label>
            <a ng-repeat="hw_id in product.hardware_ids" class="label label-primary" style="margin-left: 5px">
              {{ vm.getHardwareName(hw_id) }}
            </a>
            <select class="form-control" multiple show-search="true" ng-change="vm.getFreeProductHW()" name="products[{{$index}}].hardware"
              id="products[{{$index}}].hardware" ng-model="product.hardware_ids" ng-options="hardware._id as hardware.name for hardware in vm.availableHardware[$index] | orderBy:'name'">
              <option value="" disabled ng-if="vm.availableHardware[$index].length === 0">--No Available Hardware--</option>
            </select>
          </div>

          <!-- Product Data -->
          <fieldset>
            <legend>Product Data</legend>
            <p><b>Optional free-text fields associated with the product, such as supplementary data (DIT, DMT, file links).</b></p>
            <div ng-repeat="productData in product.links" class="panel panel-default">
              <div class="btn-group pull-right">
                <button id="remove-product-data[{{$index}}]" ng-click="vm.removeProductData(product, productData)"
                  type="button" class="btn btn-sm form-button" ><i class="glyphicon glyphicon-remove" ></i>
                  Remove Product Data
                </button>
              </div>
              <div class="panel-body">
                <table>
                  <tr>
                    <th style="width:33%;">Data Name #{{$index + 1}}</th>
                    <th>Data URL #{{$index + 1}}</th>
                  </tr>
                  <tr>
                    <td style="padding-right:10px;">
                      <div class="form-group has-feedback"
                        ng-class="{ 'has-error': form['products[{{$parent.$index}}].links[{{$index}}].link_name'].$invalid, 'has-success': form['products[{{$parent.$index}}].links[{{$index}}].link_name'].$valid }">
                        <input class="form-control" name="products[{{$parent.$index}}].links[{{$index}}].link_name"
                          id="products[{{$parent.$index}}].links[{{$index}}].link_name"
                          type="text" list="product-data-options" placeholder="Enter Product Data Name"
                          ng-model="productData.link_name" ng-minlength="2" ng-maxlength="50"
                          ng-pattern="/^(?!\b(\bTEMP\b)\b)+[a-z0-9\-_.\s]*$/i" required>
                        <span class="glyphicon form-control-feedback"
                          ng-class="form['products[{{$parent.$index}}].links[{{$index}}].link_name'].$valid ? 'glyphicon-ok' : 'glyphicon-remove'">
                        </span>
                      </div>
                    </td>
                    <td>
                      <!-- Product Data URL -->
                      <div class="form-group has-feedback"
                        ng-class="{ 'has-error': form['products[{{$parent.$index}}].links[{{$index}}].url'].$invalid, 'has-success': form['products[{{$parent.$index}}].links[{{$index}}].url'].$valid }">
                        <input class="form-control" name="products[{{$parent.$index}}].links[{{$index}}].url"
                          id="products[{{$parent.$index}}].links[{{$index}}].url" type="text"
                          placeholder="Enter Product Data URL" ng-model="productData.url" ng-pattern="vm.urlregex">
                        <span class="glyphicon form-control-feedback"
                          ng-class="form['products[{{$parent.$index}}].links[{{$index}}].url'].$valid ? 'glyphicon-ok' : 'glyphicon-remove'">
                        </span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="help-block" ng-messages="form['products[' + $parent.$index + '].links[' + $index + '].link_name'].$error">
                        <p ng-message="required">Product Data Name is required</p>
                        <p ng-message="minlength">Product Data Name must be at least of length 2</p>
                        <p ng-message="maxlength">Product Data Name must be at most of length 50</p>
                        <p ng-message="pattern">Product Data Name must only contain letters, numbers, dots, dashes, underscores, spaces and not be named TEMP</p>
                      </span>
                    </td>
                    <td>
                      <span class="help-block" ng-messages="form['products[' + $parent.$index + '].links[' + $index + '].url'].$error">
                        <p ng-message="pattern">Product Data URL must be a valid URL</p>
                      </span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <button id="add-product-data" ng-click="vm.addProductData(product)" type="button"
              class="btn btn-default pull-right"><i class="glyphicon glyphicon-plus"></i> Add Product Data</button>
          </fieldset>

          <!-- Product Configuration -->
          <fieldset ng-disabled="!vm.userIsAdmin && vm.deployment.products[$index].isLocked && !vm.creatingFromScratch">
            <legend>Product Configuration <toggle name="productDataModificationSetting" width="130px" ng-model="vm.deployment.products[$index].admins_only"
              on="<i class='fa fa-lock'></i> Admins Only" off="<i class='fa fa-lock-open'></i> Everyone">
            </toggle><i class="ebIcon ebIcon_info" title="Select who can change Product Configuration. During Edit, only Admins can change this setting."></i></legend>
            <p><b>Mandatory fields associated with a Deployment's product(s) (SVC, EVT, etc).</b></p>
            <div ng-repeat="productConfiguration in product.configuration" class="panel panel-default">
              <div class="btn-group pull-right">
                <button id="remove-product-configuration[{{$parent.$index}}][{{$index}}]" ng-click="vm.removeProductConfiguration(product, productConfiguration, true)"
                  type="button" class="btn btn-sm form-button"><i class="glyphicon glyphicon-remove"></i>
                  Remove Product Configuration
                </button>
              </div>
              <div class="panel-body">
                <table>
                  <tr>
                    <th style="width:33%;">Key Name #{{$index + 1}}</th>
                    <th>Key Value #{{$index + 1}}</th>
                  </tr>
                  <tr>
                    <td style="padding-right:10px;">
                      <!-- Product Configuration Name -->
                      <div class="form-group has-feedback"
                        ng-class="{ 'has-error': form['products[{{$parent.$index}}].configuration[{{$index}}].key_name'].$invalid, 'has-success': form['products[{{$parent.$index}}].configuration[{{$index}}].key_name'].$valid }">
                        <input class="form-control" name="products[{{$parent.$index}}].configuration[{{$index}}].key_name"
                        id="products[{{$parent.$index}}].configuration[{{$index}}].key_name"
                          type="text" placeholder="Product Configuration Name"
                          ng-model="productConfiguration.key_name" ng-minlength="2" ng-maxlength="50"
                          ng-pattern="/^(?!\b(\bTEMP\b)\b)+[a-z0-9\-_.]*$/i" required>
                        <span class="glyphicon form-control-feedback"
                          ng-class="{ 'glyphicon-remove': form['products[{{$parent.$index}}].configuration[{{$index}}].key_name'].$invalid, 'glyphicon-ok': form['products[{{$parent.$index}}].configuration[{{$index}}].key_name'].$valid }">
                        </span>
                      </div>
                    </td>
                    <td>
                      <!-- Product Configuration Value -->
                      <div class="form-group has-feedback"
                        ng-class="{ 'has-error': form['products[{{$parent.$index}}].configuration[{{$index}}].key_value'].$invalid, 'has-success': form['products[{{$parent.$index}}].configuration[{{$index}}].key_value'].$valid }">
                        <input class="form-control" name="products[{{$parent.$index}}].configuration[{{$index}}].key_value" type="text"
                        placeholder="Enter Configuration Value" ng-model="productConfiguration.key_value" required>
                        <span class="glyphicon form-control-feedback"
                          ng-class="form['products[{{$parent.$index}}].configuration[{{$index}}].key_value'].$invalid ? 'glyphicon-remove' : 'glyphicon-ok'">
                        </span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="help-block"
                        ng-messages="form['products[' + $parent.$index + '].configuration[' + $index + '].key_name'].$error">
                        <p ng-message="required">Product Configuration Name is required</p>
                        <p ng-message="minlength">Product Configuration Name must be at least of length 2</p>
                        <p ng-message="maxlength">Product Configuration Name must be at most of length 50</p>
                        <p ng-message="pattern">Product Configuration Name must only contain letters, numbers, dots, dashes,
                          underscores, and not named TEMP</p>
                      </span>
                    </td>
                    <td>
                      <span class="help-block"
                        ng-messages="form['products[' + $parent.$index + '].configuration[' + $index + '].key_value'].$error">
                        <p ng-message="required">Product Configuration Value is required</p>
                      </span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <button id="add-product-configuration-[{{$index}}]" ng-click="vm.addProductConfiguration(product)" type="button"
              class="btn btn-default pull-right"><i class="glyphicon glyphicon-plus"></i> Add Product Configuration</button>
          </fieldset>
        </div>
      </div>
      <button id="add-product" ng-click="vm.addProduct()" type="button" class="btn btn-default pull-right"><i
          class="glyphicon glyphicon-plus"></i> Add Product</button>
    </fieldset>
    <div id="main-save-button" class="btn-group pull-left"
      title="{{form.$invalid || vm.formSubmitting ? 'Ensure all values are valid and required fields are filled in.' : ''}}">
      <button class="btn btn-primary" type="submit" ng-disabled="form.$invalid || vm.formSubmitting">Save</button>
    </div>
    <button class="btn-primary float-save-button {{ form.$invalid || vm.formSubmitting ? 'disable-save-button' : '' }}"
      title="{{form.$invalid || vm.formSubmitting ? 'Ensure all values are valid and required fields are filled in.' : 'Save'}}"
      ng-disabled="form.$invalid || vm.formSubmitting"><i class="glyphicon glyphicon-floppy-save"
        aria-hidden="true"></i>
    </button>
  </form>
</section>
